<!DOCTYPE html>
<html lang="pt-br"> 
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>douc'heure</title> 
    <link rel="shortcut icon" href="assests/img/favicon.png" type="image/x-icon">
    <!-- icon -->
  
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <!-- estilo css -->
    <link rel="stylesheet" href="assests/css/style.css"> 
 
</head> 

<body>

    <div class="coeur">  
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
    </div>
    <header class="l-header" id="header"> 
        <div class="navbar container flex">
            <div class="brand">
                <img scr="logo2.png">
                <a  href="#"><img src="logoo.png" alt=""></a>
            </div>
            <div class="nav" id="nav">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="" class="nav__link active-link">home</a></li>
                    <li class="nav__item"><a href="#magasinn" class="nav__link">magasin</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">service</a></li>
                    <li class="nav__item"><a href="#package" class="nav__link">paquets</a></li>
                    <li class="nav__item"><a href="#gallery" class="nav__link">galerie</a></li>
                    <li class="nav__item"><a href="#forum" class="nav__link">forum</a></li>
                    <li class="nav__item"><a href="#blog" class="nav__link">blog</a></li>
                  <a href="login.html"> <button class="bt"  type="submit">sign up</button></a>  
                  <!--<button class="btnn">sign in</button>-->
                </ul>
            </div> 

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
    </header>
  
    <!----> <main>
       
        <section class="hero">
            <div class="container">
                <div class="row">
                    <div class="hero__img">
                        <img src="femme.png" alt="">
                    </div>
                    <div class="hero__content">
                        <h1 class="descr">l'elegance est la seule beaute qui se fane jamais <br><span></span></h1>
                        
                        <p></p>
                    </div>
                </div>
            </div> 
        </section>
        
        <section class="about section" id="about">
            <div class="container">
                <div class="row">
                    <div class="section__title">
                        <h1>histoire</h1>
                        <span>douc'heure</span>
                    </div> 
                    
                    <div class="about__detail">
                        <div class="about__detail__content">
                            <div class="about__img" >
                                <img src="assests/img/about-img.jpg" alt="">
                            </div>
                            
                            <div class="about__descripion">
                                <p> Notre centre de beauté Douc'Heure Beauty Center situé à Ariana vous propose par ses différentes activités de prendre soin de vous et de votre beauté dans un seul endroit . Vous pouvez venir vous chouchouter par un soin visage , une pose de vernis et un brushing au meme endroit ou bien encore vous préparez pour une soirée , un mariage avec une pose de faux ongles au gel ou à la résine , un maquillage et une coiffure Spécialisé dans la restructuration des sourcils , notre centre vous propose le microblading et le microshading , la technique est adaptée selon les différents types de sourcils et l'envie de la cliente .Salon chauffée et climatisée.Douc'Heure Beauty Center est le centre de beauté et bien-etre dont toutes les femmes ont besoin .</p>
                              <!--  <p>Obcaecati porro accusamus iusto rem aperiam. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                    Velit possimus a sint.</p>
                                <p>Eligendi nostrum architecto 
                                    quibusdam. Neque odio enim quasi ad culpa similique 
                                    quas.</p> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="services section" id="services">
            <div class="services__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Service</h1>
                        
                    </div>
                </div>
                <div class="services__content__descripion grid container">
                    <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/manicure.png" alt="">
                            <p>vernis à ongles</p>
                        </div>
                    </div>
                   <!-- <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/pedicure.png" alt="">
                            <p>pedicure</p>
                        </div>
                    </div>-->
                    <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/maquiagem.png" alt="">
                            <p>maquillage</p>
                        </div>
                    </div>
                    <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/pentado.png" alt="">
                            <p>coiffure</p>
                        </div>
                    </div>
                    <!-- <div class="box">
                       <div class="inner">
                            <img src="assests/img/servic/corte.png" alt="">
                            <p>la coupe de cheveux</p>
                        </div>
                    </div>-->
                    <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/sobrancelha.png" alt="">
                            <p>sourcil </p>
                        </div>
                    </div>
                    <!--<div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/depilacao.png" alt="">
                            <p>depiliação com cera</p>
                        </div>
                    </div>-->
                    <div class="box">
                        <div class="inner">
                            <img src="assests/img/servic/limpeza.png" alt="">
                            <p>nettoyage de la peau</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="package section" id="package">
            <div class="package_-content">
                <div class="row">
                    <div class="section__title">
                        <h1>forfaits promotionnels</h1>
                        <span>Pour votre mariage</span>
                    </div>
                </div>
                <div class="package__cards row container">
                    <div class="card">
                        <div class="card__title">
                            <h1>BRONZE</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>coiffure</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>maquillage</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>conception de sourcils<span></span></p>
                            </div>
                            <div class="item">
                                <i  class='bx bx-message-square-check check__icon' ></i>
                                <p >Epilation</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Nettoyage de la peau</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">chambre nuptiale réservée</p>
                            </div>
                           
                           <!-- <div class="item">
                                <i class='bx bx-message-square-x x__icon' ></i>
                                <p class="not">Mesa de frutas</p>
                            </div>-->
                            <div class="apresreserv"></div>
                            <button class="btn">reservé</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>SILVER</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>coiffure</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>maquillage</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>conception des sourcils</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon'></i>
                                <p >Epilation</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>nettoyage de la peau</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-x x__icon'></i>
                                <p class="not">chambre nuptiale reservé</p>
                            </div>
                          
                           
                            <button class="btn">reservé</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card__title">
                            <h1>GOLD</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>coiffure</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>maquillage</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>conception des sourcils <span></span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p >Epilation</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>nettoyage de la peu</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p >chambre nuptiale reservé</p>
                            </div>
                           
                           
                            <button class="btn">reservé</button>
                        </div>
                    </div>

                   <!-- <div class="card">
                        <div class="card__title">
                            <h1>Diamant</h1>
                        </div>
                        <div class="card__items">
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Penteado</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Maquiagem</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Unhas<span>(tradicional francesa)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Depilação<span>(1 area)</span></p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Design de sobrancelha</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Limpeza de pele</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Sala de noiva reservada</p>
                            </div>
                            <div class="item">
                                <i class='bx bx-message-square-check check__icon' ></i>
                                <p>Mesa de frutas</p>
                            </div>
                            <button class="btn">quero esse</button>
                        </div>
                    </div>
                </div>
            </div>-->
        </section>
        <section class="gallery section" id="gallery">
            <div class="gallery__content">
                <div class="row">
                    <div class="section__title">
                        <h1>Galerie</h1>
                       
                    </div>
                </div>
                <div class="gallery__list__img row container">
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto1.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto2.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto3.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto4.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto5.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto6.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto7.png" alt="">
                    </div>
                    <div class="gallery__img">
                        <img src="assests/img/img-insta/foto8.png" alt="">
                    </div>
                </div>
                <button class="btn">voir plus</button>
            </div>
        </section>
        <section class="testimonials section">
            <div class="testimonials__content">
                <div class="row">
                    <div class="section__title">
                        <h1>avis</h1>
                        <span></span>
                    </div>
                </div>
                <div class="testimonials__card container grid">
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="assests/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>alya</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>incroyable merci beaucoup pour le maquillage</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="assests/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>asma</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>merci pour votre service </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="assests/img/depoimentos/depoimento-1.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>latifa</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>merci beaucoup pour le soins et le maquillage</p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonials__item flex">
                        <div class="testimonials__img">
                            <img src="assests/img/depoimentos/depoimento-2.png" alt="">
                        </div>
                        <div class="testimonials__box">
                            <div class="testimonials__name">
                                <h1>soha</h1>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                                <i class='bx bxs-star star__icon' ></i>
                            </div>
                            <div class="testimonials__descripition">
                                <p>douc'heure number one </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
               <!--magasinnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnnn-->


    <footer class="footer" id="contact">
        <div class="footer__list section container grid">
            <div class="footer__data">
                <h1><a href="#"><img src="logoo.png" alt=""></a></h1>
                <div class="footer__data-social">
                    <a href=""><i class='bx bxl-facebook social__icon'></i></a>
                    <a href=""><i class='bx bxl-instagram social__icon' ></i></a>
                    <a href=""><i class='bx bxl-whatsapp social__icon' ></i></a>
                </div>
            </div>
            <div class="footer__data">
                <h2>adresse</h2>
                <p>Ariana centre <br> Tunisie</p>
            </div>
            <div class="footer__data">
                <h2>horaire</h2>
                <p>Tous les jours<br>de 08:00 a 20:00</p>
            </div>
            <div class="footer__data">
                <h2>Contact</h2>
                <p>+216 12345677</p>
                <p>+216 65432</p>
            </div>
        </div>
        <div class="copy">
            <p>&copy riot group</p>
            <span>coder-executer-compiler</span>
        </div>
    </footer>
     
    <script src="assests/js/style.js"></script>
    <div>
    <!--    <span style="--delay:0.1s">S</span> 
        <span style="--delay:0.2s">W</span> 
        <span style="--delay:0.3s">E</span> 
        <span style="--delay:0.4s">E</span> 
        <span style="--delay:0.5s">T</span> 
        <span style="--delay:0.6s">B</span> 
        <span style="--delay:0.7s">E</span> 
        <span style="--delay:0.8s">A</span> 
        <span style="--delay:0.9s">U</span> 
        <span style="--delay:0.10s">T</span> 
        <span style="--delay:0.11s">Y</span> 
    
    <h1 class="beauty">SWEET BEAUTY</h1>
    </div>

    <script>  
    document.addEventListener('mousemove',function(e)
    {
        let body =document.querySelector('body') ; 
        let heart=document.createElement('span'); 
        let x= e.offsetX ; 
        let y=e.offsetY ;
        heart.style.left= x+'px' ; 
        heart.style.top= y+'px'  ;
        body.appendChild(heart) ; 
        setTimeout(function()
        { 
            heart.remove() ; 
        },1000) 
    })
    
    </script>--> 
   
</body> 



</html>