
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="UTF_8">
        <meta name="viewport" contnt="width=device_width,initial-scale=1.0">
        <title>Gestion de Réclamation </title>
        <link rel="stylesheet"href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="assests/img/favicon.png" type="image/x-icon">
        <!-- icon -->
        <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
        <!-- estilo css -->
        <link rel="stylesheet" href="assests/css/style.css">     
    </head>
<body>
    <div class="coeur">  
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
        <img src="coeur.png">
    </div>
    <header class="l-header" id="header"> 
        <div class="navbar container flex">
            <div class="brand">
                <img scr="logo2.png">
                <a  href="#"><img src="logoo.png" alt=""></a>
            </div>
            <div class="nav" id="nav">
                <ul class="nav__menu">
                    <li class="nav__item"><a href="" class="nav__link active-link">home</a></li>
                    <li class="nav__item"><a href="#magasinn" class="nav__link">magasin</a></li>
                    <li class="nav__item"><a href="#services" class="nav__link">service</a></li>
                    <li class="nav__item"><a href="#package" class="nav__link">paquets</a></li>
                    <li class="nav__item"><a href="#gallery" class="nav__link">galerie</a></li>
                    <li class="nav__item"><a href="#forum" class="nav__link">forum</a></li>
                    <li class="nav__item"><a href="#blog" class="nav__link">blog</a></li>
                  <a href="login.html"> <button class="bt"  type="submit">sign up</button></a>  
                  <!--<button class="btnn">sign in</button>-->
                </ul>
            </div> 

            <div class="nav__toggle" id="nav-toggle">
                <i class='bx bx-menu'></i>
            </div>
        </div>
    </header>
    
    <div class="box" align = "center">
     <br>
     <br>
        
        <h1> "Effectuer une Réclamation"</h1>
     <br>
     <br> 
     <br>
     <div class="corps">
        <div class="gauche">
         <div class="groupe">
            <i class="fas fa-user"></i>
            <label>Nom:</label>
            <input type="Nom:" placeholder=" tapez votre nom....">
            <br>
         </div>
         <br>
         <br>
         <br>
         
        
        <div class="groupe">
            <i class="fas fa-envelope"></i>
            <label>Adressemail:</label>
            <input type="Adressemail:" placeholder=" tapez votre adresse.... ">
            <br>
            <br>

        </div> 
        
        </div>
        <br>
        <br>
        
    
    <div class="droite">
        <div class="groupe">
            <i class="fa-solid fa-message"></i>
            <label>Description de la Réclamation: </label>
           <br>
           <br>
            <textarea placeholder name="" id="" cols="70" rows="15"></textarea>            
        
            
    </div>
   
    </div>
     </div>
     
     <br>
     <div class="fiche-description", align="center">
         <button>Envoyer le message </button>
     </div>
     </div>

     </body>
    </html>

        